        <html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../asset/fontawesome-free-6.1.2-web/css/all.css">
			<link rel="stylesheet" href="../asset/css/review_style_tp.css">
			<title>Trip-Planner Reviews</title>
		</head>

		<body>

            <section id="reviews">
                <div class="reviews container">
                    <div class="rev-head-content">
                        <span>Reviews</span>
                        <div class="input-field">
                            <input type="text" id="search-rev" name="searchRev" value="" placeholder="search here..">
                            <input type="button" id="search-bttn" name="searchRevBttn" value="search">
                        </div>
                    </div>
                    <div class="rev-body-content">
                        <div class="rev-body-top">
                            <div class="rev-item">
                                <div class="item-name">
                                    
                                </div>
                            </div>
    
                            <div class="rev-item">
                                <div class="item-name">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="rev-body-main">
                            <div class="rev-block">
                                <div class="rev-block-head">
                                    <div class="rev-block-name"><h2></h2></div>
                                    <div class="rev-block-rating">

                                    </div>
                                </div>
                                <div class="rev-block-body">
                                    <div class="rev-block-content">
                                    </div>
                                </div>
                            </div>
                            <!-- <i class="fas fa-star"></i> -->
                        </div>
                    </div>
                </div>
            </section>
    
        </body>
        </html>