@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---nav-panel start--- */
#nav-panel{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#nav-panel .nav-panel{
    min-height: 9vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: .23s ease background-color;
}

#nav-panel .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1380px;
    padding: 0 25px;
}

#nav-panel .nav-logo a h2{
    font-size: 1.9rem;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.09rem;
    color: rgb(255, 255, 255);
}

#nav-panel .nav-list{
    display: flex;
    align-items: center;
}

#nav-panel .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(22, 21, 21);
    width: 212px;
    height: 100vh;
    right: -213px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .4s ease right;
}

#nav-panel .nav-list ul.active{
    right: 0;
}

#nav-panel .nav-list ul a{
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 0.08rem;
    color: white;
    text-transform: capitalize;
    padding: 20px;
    display: block;
}

#nav-panel .nav-list h1{
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: rgb(32, 215, 240);
    text-transform: capitalize;
    margin: 0px 55px 0px 0px;
    padding: 17px;
}

#nav-panel .nav-list ul a::after{
    content: attr(data-menu);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0);
    color: rgba(240, 248, 255, 0.022);
    font-size: 5rem;
    letter-spacing: 20px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

#nav-panel .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#nav-panel .nav-list ul li a:hover{
    color: rgb(190, 190, 190);
}

#nav-panel .hamburger {
    height: 35px;
    width: 35px;
    top: 8;
    right: 27;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    cursor: pointer;
}

#nav-panel .hamburger::after {
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid rgb(235, 235, 235);
    position: absolute;
    animation: hamburger_pulse 1.4s ease infinite;
}

#nav-panel .hamburger .bar{
    height: 2px;
    width: 16px;
    position: relative;
    background-color: rgb(247, 243, 39);
    z-index: -1;
}

#nav-panel .hamburger .bar::after,
#nav-panel .hamburger .bar::before{
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    transition: .2s ease;
    transition-property: top, bottom;
}

#nav-panel .hamburger .bar::after{
    background-color: rgb(159, 189, 255);
    top: 5px;
}
#nav-panel .hamburger .bar::before{
    background-color: rgb(41, 255, 112);
    bottom: 5px;
}

#nav-panel .hamburger.active .bar::after{
    top: 0px;
}
#nav-panel .hamburger.active .bar::before{
    bottom: 0px;
}


/* ---nav-panel end--- */



/* ---------------------------Profile starts------------------------- */
#profile{
    background: black;
    position: relative;
    z-index: 1;
}

#profile::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(../img/Night_Sky_Anime_HD_wallpaper.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(6px);
    opacity: 0.11;
    z-index: -1;
}

#profile .profile{
    flex-direction: column;
}

#profile .brand-logo{
    position: absolute;
    z-index: 10;
    top: 25px;
    left: center;
    padding: 5px 5px;
}

#profile .brand-logo h2{
    font-size: 2.7rem;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.09rem;
    color: seashell;
}

#profile .profile form{
    margin: 115px 0 70px 0;
    height: fit-content;
    width: 650px;
    padding: 30px;
    background: rgb(30, 33, 34);
    border-radius: 10px;
    box-shadow: 0px 0px 9px 0px rgb(150, 150, 150);
    display: flex;
    flex-direction: column;
    position: relative;
}

#profile .profile form legend{
    font-size: 1.8rem;
    color: white;
    position: absolute;
    left: 15px;
    top: 5px;
}

#profile .profile form .profile-fields{
    margin-top: 35px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#profile .profile form .profile-fields .image-container{
    height: fit-content;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile .profile form .profile-fields .image-container .wrapper{
    height: 200px;
    width: 180px;
    border: 1px solid grey;
    border-radius: 5px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

#profile .profile form .profile-fields .image-container .wrapper.current{
    border: none;
}

#profile form .profile-fields .image-container .wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
}

#profile form .profile-fields .image-container .wrapper .image img{
    height: 100%;
    width: 100%;
    object-fit: contain cover;
    /* visibility: hidden; */
}

#profile form .profile-fields .image-container .wrapper .content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profile form .profile-fields .image-container .wrapper.current .content{
    display: none;
}

#profile form .profile-fields .image-container .wrapper .up-icon img{
    height: 50px;
    width: 50px;
}

#profile form .profile-fields .image-container .wrapper .text{
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.06;
    color: whitesmoke;
}

/* #profile form .profile-fields .image-container .wrapper #cancel-bttn{
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255, 2, 2, 0.5);
    display: none;
}

#profile form .profile-fields .image-container .wrapper.current:hover #cancel-bttn{
    display: block;
}

#profile form .profile-fields .image-container .wrapper #cancel-bttn img{
    height: 20px;
    width: 20px;
    cursor: pointer;
} */

#profile .profile form .profile-fields .image-container #custom-bttn{
    height: 25px;
    width: 180px;
    display: block;
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: rgb(0, 90, 175);
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    cursor: pointer;
}

#profile .profile form .profile-fields .image-container #custom-bttn:hover{
    background: rgb(0, 79, 153);
}

#profile .profile form .profile-fields .inline-fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
}

#profile form .profile-fields label{
    font-size: 1.3rem;
    font-weight: 500;
    color: whitesmoke;
    margin-bottom: 4px;
}

#profile form .profile-fields .emsg{
    color: rgb(255, 101, 101);
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    text-align: center;
    margin-top: 2px;
}

#profile form .profile-fields .smsg{
    color: rgb(37, 235, 96);
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    text-align: center;
    margin-bottom: 3px;
}

#profile form .profile-fields .input-field{
    height: 30px;
    width: 250px;
    display: flex;
    justify-content: center;
}

#profile form .profile-fields .input-field input, select, textarea, .inputfield-text{
    height: 100%;
    width: 100%;
    padding: 0px 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    background: rgb(30, 33, 34);
    color: white;
    font-size: 13px;
    font-weight: 500;
}

#profile form .profile-fields .input-field .inputfield-text{
    outline: none;
    border: none;
    font-size: 1.2rem;
    padding: 7px 10px 0px 10px;
}


#profile form .profile-fields .input-field input:focus, select:focus{
    border-bottom: 2px solid rgb(25, 156, 218);
}

#profile form .profile-fields .text-field{
    height: 120px;
    width: 250px;
}

#profile form .profile-fields .text-field textarea{
    height: 100%;
    width: 100%;
    resize: none;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 4px;
}

#profile form .profile-fields .input-field textarea:focus{
    border: 1px solid rgb(25, 156, 218);
    outline: 1px solid rgb(25, 68, 160);
}

#profile form .profile-fields .button.input-field{
    height: 28px;
    width: 100%;
    margin: 10px 0 2px 0;
    display: flex;
    justify-content: center;
}

#profile form .profile-fields .button.input-field input{
    width: 50%;
    outline: none;
    border: none;
    border-radius: 4px;
    background: rgb(12, 158, 78);
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
    cursor: pointer;
    transition: .08s ease background;
}

#profile form .profile-fields .button.input-field input:hover{
    background: rgb(10, 139, 68);
}

#profile .profile form .profile-fields .bottom-line{
    height: 1px;
    width: 100%;
    background: wheat;
    margin: 9px 0 9px 0;
}





/* ---------------------------Profile ends------------------------- */



/* ---footer start--- */

#footer{
    background: linear-gradient(5deg, rgb(16, 15, 20) 0%, rgb(10, 23, 35) 100%);
    position: relative;
}

#footer .footer{
    min-height: 130px;
    flex-direction: column;
    padding: 45px 0 10px 0;
}

#footer .footer .footer-items{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    max-width: 1100px;
    margin-bottom: 25px;
    justify-content: space-between;
}

#footer .social-icons{
    display: flex;
    justify-content: center;
}

#footer .social-icons .soc-icon{
    height: 40px;
    width: 40px;
    margin: 0px 8px;
}

#footer .soc-icon a img{
    height: 30px;
    width: 30px;
    filter: drop-shadow(0px 0px 5px rgb(200, 200, 200));
    transition: .1s ease filter;
}

#footer .soc-icon:hover a img{
    filter: drop-shadow(0px 0px 2.5px rgb(200, 200, 200));
}

#footer .item-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 26px;
}

#footer .item-links .item-link{
    height: fit-content;
    width: fit-content;
    margin: 6px 0px;
    padding: 5px;
}

#footer .item-links .item-link a h3{
    font-size: 1.15rem;
    letter-spacing: 0.06rem;
    font-weight: 400;
    color: rgb(240, 240, 240);
    transition: .1s ease color;
}

#footer .item-links .item-link a:hover h3{
    color: rgb(190, 190, 190);
}

#footer .footer p{
    color: rgb(230, 230, 230);
    font-size: 0.95rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

#footer .footer .line{
    height: 1px;
    width: 90vw;
    background: slategrey;
    margin: 6px;
}

/* ---footer end--- */



/* ---------keyframes start----------*/
@keyframes hamburger_pulse{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.4);
    }
}
/* ---------keyframes end------------*/


/* --------------------------media query for desktop -----------------------*/

@media only screen and (min-width: 1100px){
/* ----------nav-panel---------- */
#nav-panel .hamburger{
    display: none;
}

#nav-panel .nav-list ul{
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
}

#nav-panel .nav-list ul li{
    display: inline-block;
}

#nav-panel .nav-list ul li a{
    font-size: 1.3rem;
    font-weight: 500;
}

#nav-panel .nav-list ul a::after{
    display: none;
}

#nav-panel .nav-list h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0px 70px 0px 10px;
    padding: 17px 20px 20px 20px;
}

/* ----------nav-panel ends---------- */

/* --------------footer-------------- */
#footer .footer .footer-items{
    flex-direction: row;
}

#footer .item-links{
    flex-direction: row;
    align-items: initial;
    margin-bottom: 0px;
}

#footer .item-links .item-link{
    margin: 0px 25px;
}

/* --------------footer ends-------------- */


}


/* --------------------------media query for desktop ends -----------------*/
